.slideshow {
    position: relative;
    overflow: hidden;
}

.slideshow .arrows button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
}
