.url-container {
    margin-bottom: 15px;
}

.url-container input {
    width: 85%;
}

.slideshow {
    position: relative;
    overflow: hidden;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slideshow .arrows button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.slideshow a {
    text-decoration: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
}
